

.right{
margin-left: 30%;}
 .put{
    margin-left:1% ;
}

.bu{
    margin-left: 1%;
}
.signupimg{
    width: 200px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
   
